<h5>What is Capital Gains Tax?</h5>
<p>Capital gain is an increase in the value of an investment 
(such as stocks or shares in a mutual fund or exchange traded fund) 
or real estate holding from the original purchase price. If the value of 
the asset increases, you have a capital gain and you need to pay tax on it. </p>

<h5>How Does It Work?</h5>
<p>In Canada, 50% of the value of any capital gains are taxable. Should you sell 
the investments at a higher price than you paid (realized capital gain) — 
you'll need to add 50% of the capital gain to your income. This means the amount of 
additional tax you actually pay will vary depending on how much you're making and 
what other sources of income you have.</p>
<p>A capital loss occurs when the value of your investment or real estate 
holding decreases in value. If the current value of the investment or holding 
is less than the original purchase price, you have a capital loss. </p>
<p>If you have both capital gains and capital losses, you can offset the capital 
gains with capital losses until you reach zero. If you only have capital losses, 
the CRA allows you to use the capital loss to offset a capital gain you originally 
declared in the previous 3 years, or you are allowed to carry forward the capital 
loss into the future. How far into the future, right now it's indefinitely, so don't 
lose the paperwork! That said, rules can change and so it's best to check with your 
tax professional before taking any action.</p>

<h5>How To Calculate</h5>
<p>Before you calculate your capital gains, you're going to need figure out something called the adjusted cost base.
The adjusted cost base is the starting point for determining if you have made or lost money on your investments.</p>

<h6>Adjusted cost base example:</h6>
<p>For straightforward buys and sells, the adjusted cost base is the book value plus any commission that was paid to acquire the investment. For example, if you bought 100 shares of GameStop at a total cost of $500 and you paid $25 commission, your ACB would be $525, the price of the shares plus the commission ($500+$25).</p>
<p>Now let's say you buy more shares of GameStop, but the share price has increased. This time you buy 200 shares at a total cost of $1,400. You pay the same $25 commission. Your ACB for this transaction is $1,425 ($1,400+$25).</p>
<p>Your ACB is the basis for figuring out whether you made or lost money when you eventually sell those investments. but you have no way of knowing what shares in your pot had which ACB, so you will need to figure out the average ACB per share.</p>
<p>To get that, you add the ACBs together, and divide by the total number of shares you own.</p>
<p>Remember those shares in GameStop? You own 300 shares.</p>
<ol>
    <li>Add up the ACB for the 2 transactions, They cost you $525+$1,425=$1,950. So your ACB for your shares of GameStop is $1,950.</li>
    <li>Now divide your total ACB by the number of shares you own. $1,950/300 shares =$6.50. So your ACB per share is $6.50. You need this to figure out if you made or lost money.</li>
</ol>

<h6>Capital gain example:</h6>
<p>You've decided to sell some shares in GameStop. Let’s review: When you sell your investment or real estate for more than you purchased it for, you will have a capital gain. When you sell your investment for less than you paid for it, you will have a capital loss.</p>
<ol>
    <li>You decide to sell 200 shares of GameStop when they reach $20 per share. There is a $50 brokerage fee. 200 x $20=$4000-$50 fee =$3950. This is the market price or selling price.</li>
    <li>To figure out if you made or lost money, you need to start with your ACB per share on your shares of GameStop. We calculated that as $6.50.</li>
    <li>Multiply your ACB per share x number of shares sold to get your ACB on the transaction. 200 shares x $6.50 ACB per share=$1300.</li>
    <li>Now, deduct the ACB from your sale price on those shares. Your sale price $3950- your ACB $1300=$2650. Since it’s more than your ACB, you have a capital gain.</li>
</ol>
<p>The sale price minus your ACB is the capital gain that you'll need to pay tax on. In Canada, 50% of the value of any capital gains is taxable. In our example, you would have to include $1325 ($2650 x 50%) in your income. The amount of tax you'll pay depends on how much you're earning from other sources.</p>

<h6>Capital loss example:</h6>
<p>Let's look at a not so nice example where there's a loss rather than a gain. Imagine you purchased 200 shares for $6.25 per share and sell them for $4 per share. You have to pay a $50 brokerage fee when you buy and sell the shares.</p>
<ol>
    <li>You decide to sell 200 shares in GameStop, but they're only worth $4.00 now. There is a $50 brokerage fee. You multiply the number of shares by the price per share and take away the brokerage fee (200x$4.00= $800-$50 = $750.)</li>
    <li>Remember your ACB per share is the basis of determining if you made or lost money. To calculate this you add the purchace price plus the brokerage fee (200x$6.25 = $1,250+$50 = $1,300)</li>
    <li>Deduct the ACB from your sale price on those shares ($750-$1300= -$550). Because your sale price is less than your ACB, you have a capital loss of -$550.</li>
</ol>

<h6>Dealing with capital loss</h6>
<p>You can use any capital losses to offset or reduce capital gains. And if you have more capital losses than you need to reduce your capital gain to zero, or if you only have capital losses, you are allowed to carry forward that capital loss into future years, OR, you can carry it back up to three previous years to amend a capital gain you declared.</p>

<h6>Dealing with a capital gain</h6>
<p>The 50% of the capital gain that is taxable (less any offsetting capital losses), gets added to your income and is taxed at your marginal income tax rate</p>