<h6>The Canadian Revenue Agency (CRA) tries to make it as easy as 
possible to file your tax returns. You can always pay a tax preparer to file, 
however there are 4 main options that the CRA allows you to use to self-file your taxes.</h6>

<h6>Online</h6>

<p>The CRA allows you to file your taxes online using software that they certify. 
A list of software products are listed at 
<a href="https://www.canada.ca/en/revenue-agency/services/e-services/e-services-individuals/netfile-overview/certified-software-netfile-program.html">canada.ca/netfile-software</a>. 
Some of the software available are free while some of them are paid. 
This is usually considered the easiest way to file as often times it is the 
quickest and if you're a novice of filing your taxes, some free software such 
as TurboTax Free and others have very simple ways of guiding you through the process step by step.
</p>

<h6>On paper</h6>
<p>
Filing your taxes on paper is also an option. You can see, download and order forms and 
publications as of January 18, 2021 at <a href="https://www.canada.ca/en/revenue-agency/services/forms-publications/tax-packages-years/general-income-tax-benefit-package.html">canada.ca/taxes-general-package</a>. 
Starting February 5, 2021, you can call the CRA at 1-855-330-3305 to order forms and publications. 
If you have already filed your taxes by paper in 2019, the CRA will mail you a 2020 Income 
tax Package by February 19, 2021. It is important to note that due to Covid-19, there may 
be significant delays when processing paper return or in delivery notices of assessments 
and cheques through the mail. The CRA strongly recommends you to file electronically and 
sign up for direct deposit. 
</p>

<h6>By phone</h6>
<p>
The CRA also has a phone service called File my Return. It is a free service that allows 
Canadians who have low or fixed incomes, and whose tax situation doesn’t change from year 
to year to file my phone. If you are eligible to use this service the CRA will mail you 
an invitation letter by mid February.
</p>

<h6>Community Volunteer Income Tax Program</h6>
<p>
The CRA also has a community volunteer income tax program. 
This is a community organization that hosts free tax clinics for Canadians with a modest 
income and simple tax situations. You can usually interact with these clinics by videoconference, 
phone, or through an arranged document drop-off. These clinics usually are offered between march 
and april across Canada, with some offered year-round. To found a clinic near you go to  
<a href="https://www.canada.ca/en/revenue-agency/campaigns/free-tax-help.html">canada.ca/taxes-help</a>.
</p>