<h3>What are tax brackets?</h3>
<p>The Canadian tax system is designed in such a way so that low-income earning citizens will pay a smaller tax percentage than those who earn higher-income.</p>
<p>Tax brackets are categories designated to distinguish between people of varying incomes. As such, people who are in the higher-earning tax bracket will pay more tax in percentages of their income.</p>
<p>You must pay the federal and provincial income tax. These are the percentages you would be paying depending on which Canadian and Ontario tax bracket you fall into as a citizen of Ontario.</p>

<h5>Chart for 2021 Canada Federal Tax Brackets</h5>
<img src="https://cdn.discordapp.com/attachments/448621766785368094/804474511939993600/FederalTaxRates2021.JPG" alt="Canada Tax Brackets 2021" width="500">
<h5>Chart for 2021 Ontario Tax Brackets</h5>
<img src="https://cdn.discordapp.com/attachments/448621766785368094/804474287397273610/OntarioTaxRate2021.JPG" alt="Ontario Tax Brackets 2021" width="500">