<h2>Works Cited List</h2>
<ul>
  <li>https://www.canada.ca/en/revenue-agency/corporate/about-canada-revenue-agency-cra.html</li>
  <li>https://www.canada.ca/en/services/benefits/ei/cerb-application.html</li>
  <li>https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/deductions-credits-expenses.html</li>
  <li>https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return.html</li>
  <li>https://www.canada.ca/en/services/taxes/income-tax/personal-income-tax/doing-your-taxes.html</li>
  <li>https://help.hrblockonline.ca/hc/en-ca/articles/229593087-T3-Statement-of-Trust-Income-Allocations-and-Designations</li>
  <li>https://www.canada.ca/en/revenue-agency/services/e-services/e-services-individuals/account-individuals.html</li>
  <li>https://turbotax.intuit.ca/tax/software/personal/online/free
  <li>https://www.canada.ca/en/revenue-agency/services/e-services/e-services-individuals/netfile-overview/certified-software-netfile-program.html</li>
  <li>https://www.canada.ca/en/revenue-agency/services/forms-publications/tax-packages-years/general-income-tax-benefit-package.html</li>
  <li>https://www.wealthsimple.com/en-ca/learn/tfsa-rules</li>
  <li>https://www.wealthsimple.com/en-ca/learn/what-is-tfsa</li>
  <li>https://help.wealthsimple.com/hc/en-ca/articles/360058451493-How-are-dividends-taxed-#:~:text=Dividends%20received%20from%20securities%20are,a%20non%2Dregistered%20account</li>
  <li>https://www.wealthsimple.com/en-ca/learn/tfsa-limit#tfsa_lifetime_limit</li>
  <li>https://nssc.novascotia.ca/before-you-invest/question-week-can-you-day-trade-through-your-tfsa#:~:text=If%20you%20are%20buying%20and,actively%20trade%20using%20a%20TFSA.</li>
  <li>https://www.wealthsimple.com/en-ca/learn/what-is-rrsp#rrsp_home_buyers_plan</li>
  <li>https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/rrsps-related-plans/lifelong-learning-plan.html</li>
  <li>https://www.wealthsimple.com/en-ca/learn/rrsp-contribution-deduction-limit#what_exactly_is_an_rrsp_contribution_limit</li>
  <li>https://www.canada.ca/en/revenue-agency/services/tax/individuals/topics/about-your-tax-return/tax-return/completing-a-tax-return/deductions-credits-expenses/line-21400-child-care-expenses.html</li>
  <li>https://www.investopedia.com/terms/h/harmonized-sales-tax.asp</li>
  <li>https://www.investopedia.com/terms/t/tax-deduction.asp</li>
  <li>https://www.canada.ca/en/revenue-agency/services/forms-publications/publications/rc4022/general-information-gst-hst-registrants.html#H2_201</li>
  <li>https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses/complete-file-input-tax-credit.html</li>
  <li>https://www.canada.ca/en/employment-social-development/services/student-financial-aid/education-savings/resp/info.html</li>
  <li>https://www.wealthsimple.com/en-ca/learn/capital-gains-tax-canada#how_to_calculate_tax_on_a_capital_gain</li>
  <li>https://www.canada.ca/en/revenue-agency/services/tax/technical-information/technical-information-gst-hst/gst-hst-memoranda-series.html#toc3</li>
  <li>https://globalnews.ca/news/3952225/canada-revenue-agency-tax-return-changes</li>
  <li>https://www.canada.ca/en/revenue-agency/services/tax/individuals/frequently-asked-questions-individuals/canadian-income-tax-rates-individuals-current-previous-years.html</li>
</ul>
