<h6>What Is A RESP</h6>
<p>A Registered Education Savings Plan (RESP) is a regulated account to be used 
for saving money for a child’s post-secondary education. 
The main benefit of an RESP is its tax shelter for your investments, 
meaning they can grow without being taxed and that the government will also 
contribute 20% of what you put into their account.</p>

<h6>How Does It Work?</h6>
<p>As long as both the account opener and beneficiary are Canadian, 
it doesn’t matter who opens the account. It could be a child’s parent, 
grandparent, a friend of the family as long as they  got access to a kid’s 
Social Insurance Number. RESPs are non transferable except to a sibling. 
The government will also contribute 20% of whatever the contributor puts in back into the RESP. 
The RESP can hold many securities such as ETFs, bonds, and equities all while enjoying tax-free growth.</p>

<h6>Contribution Limits</h6>
<p>Since 2007, there has been no annual contribution limit to the RESP. 
The lifetime contribution limit is $50,000. However, the benefit of 20% 
from the government only applies up to $2,500 per year. This means the most you 
can get from the government is $500 per year. Although, children from low-income 
families are also eligible to receive money from the Canada Learning Bond, which is 
up to $2,000 that the government can add to a child's RESP this takes the form as $500.
for the first year of eligibility and $100 each year the child continues to be eligible 
(up to and including the benefit year in which they turn 15).</p>

<h6>Advantages</h6>
<p>Not only do your investments grow tax-free in an RESP, but withdrawals 
could be tax-free as well. Since withdrawals are taxed in the hands of the student 
(who’s likely in one of the lowest tax brackets) they’ll owe little or no tax. 
RESPs come with built-in safeguards to ensure you leave that money to grow! Tax penalties 
and grant clawbacks are there to discourage us from withdrawing RESP funds early.</p>

<h6>Limitations</h6>
<p>There are limits to the government’s grant. Regardless of a family’s income, 
no child can collect more than $7,200 from the CESG. The one major gamble with 
setting up a RESP is if a child decides not to study anything after high school, 
though there is a truly vast array of education and job training options that 
qualify for use of RESP funds. </p>