<h6>What is it?</h6>
<p>Dividends received from securities are considered to be income, 
and therefore are subject to tax when received within a non-tax 
sheltered account (i.e. a non-registered account). </p>

<h6>How Does It Work?</h6>
<p>There are different tax treatments for dividends depending on whether they 
are Canadian or foreign dividends (foreign dividends are classified as 'other income'). 
At a federal and provincial level, marginal tax rates for each of these dividend types 
are decided on annually. </p>
<p>Canadian dividends are also eligible for the dividend tax credit (reduces the taxes payable).</p>

<h6>How To Calculate</h6>
<p>Let's say you receive $300 in Canadian dividends from an investment in your non-registered account.</p>
<p>$300 in actual dividends received gets 'grossed up' for tax purposes by 38%, so on your tax
return $414 ($300 x 1.38) is included in your taxable income. Tax is then calculated based on your marginal tax rate.
The reason it gets 'grossed up' is to bring the dividend amount back up to the dividend the corporation could have paid
you if it had not had to pay corporate income tax.</p>
<p>The eligible dividend tax credit is 15.0198% of the grossed up dividend, so $62.18 ($414 x 0.150198) 
will be applied to reduce your taxes payable.</p>
<p>If your marginal rate is 40% for example, your net taxes payable will be $414 x 0.40 = $165.60 - $62.18 (dividend tax credit) 
= $103.42.</p>