<h6>What Is The RRSP</h6>
<p>A Registered Retirement Savings Plan (RRSP) is a retirement account 
that’s existed since 1957. RRSPs were introduced by the government to help 
Canadians save for retirement. The main benefit of RRSPs is that tax on RRSP 
contributions is deferred until retirement. It is an investment account and you 
can hold all sorts of securities there, such as bonds, exchanged traded funds, 
equities, currency and much more.</p>

<h6>How Does It Work?</h6>
<p>The RRSP is a tax shelter, meaning the investments inside your RRSP will 
grow without you having to pay taxes on that growth.  
RRSPs are what’s called tax-deferred, meaning any money you contribute 
will be exempt from CRA taxes the year you make the deposit, and will 
only be taxed years down the line when you withdraw it. RRSPs are a way 
to cut down a current-year tax bill. Also, when you do withdraw the money 
in retirement, you should be making less income per year so your taxes 
should be lower as a result, meaning you could ultimately save on taxes.
</p>

<h6>Contribution Limits</h6>
<p>The contribution limit for 2021 of an RRSP is 18% of your income or 
$27,830 whichever one is smaller. However, this limit has rollover 
meaning that if you open an RRSP and don't use all of your contribution
room for that year, the excess contribution room gets added to your room 
for the next year, meaning you won’t need to worry about wasting any 
contribution room, if your have a bad year for example. A list of previous 
years can been found <a href="https://www.wealthsimple.com/en-ca/learn/rrsp-contribution-deduction-limit#what_exactly_is_an_rrsp_contribution_limit">here</a></p>
<br>
<img src="https://cdn.discordapp.com/attachments/448621766785368094/804485568313556992/unknown.png" width="600">
<br>

<p>What happens if you contribute too much to your RRSP?  First, you’ll get a 
nice bit of cushion; any amount up to $2,000 over your annual limit will be 
forgiven (though it won’t be considered tax-deductible). If you go over that, 
the CRA will likely mail you a notice that you’ve over contributed. If you do 
not fix the problem, they’ll begin to assess a penalty of 1 percent on that over-contribution, 
assessed monthly, for each month you‘re over the limit.</p>

<h6>Advantages</h6>
<p>The tax deferral can possibly save you a lot of taxes. Here’s how a tax-deferred account 
like an RRSP works. Let’s say you make $100,000 a year and you decide to put the maximum 
allowable into your RRSP—$18,000. When tax day comes around, the CRA will treat you as 
though you earned just $82,000.</p>


<h6>Limitations</h6>
<p>Money in your RRSP cannot be withdrawn so easily before you retire. 
This is one of the reasons many people also use a TFSA in conjunction 
with the RRSP, in order to get more flexibility. Also it is very 
important to note that you cannot use money classified as investment 
income such as capital gains to invest in your RRSP.</p>


<h6>Other Ways of Withdrawing The Money</h6>
<p>There are 2 main ways of taking out money from your RRSP before retirement. 
The first way is taking advantage of the Home Buyers Plan (HBP) This is a program, 
in which first time home buyers can take out a loan from their RRSP to pay for a house. 
They can withdraw $35,000 tax-free. However, you have to pay it back into your RRSP within 
15 years and the contributions you make to pay it back will not be tax-deferred. 
The other way is through the Lifelong Learning Plan (LLP) which allows you to withdraw 
$10,000 per year for 2 years, which means $20,000 total for the 2 years. You will have 
to repay the amount back to your RRSP, usually in the form of paying 10% of the loan 
back each year for 10 years. These payments also are not tax-deferred.</p>