
    <h1>Taxation in Ontario, Canada</h1>
    <p>IDC4U1 - Finance Culminating</p>
    <p>Mr Stoffman</p>
    <p>29 Jan 2021</p>
    <p>Welcome! We are Ryan & Justin C, and through this website we will be explaining the definitions and details <br>behind the filing process, investment taxes, and our taxation policies in Canada (more specifically Ontario). </p>
    <p>Navigate our website and the subtopics of taxes that we cover through the toolbar on the left!</p>
    <img src="https://cdn.discordapp.com/attachments/448621766785368094/804470834579505182/finalcra.jpg" alt="CRA Sign" width="500">
    <h2> The CRA and Canadian Taxes</h2>
    <p>The CRA (Canada Revenue Agency) is a government agency whose purpose is to ensure compliance with <u>tax laws & policies</u>, as well as collect taxes for the federal and most provincial and territorial governments. Most importantly, the CRA is in charge of providing <u>tax credits</u> and <u>social benefit programs</u> for Canadians in need.</p> 
    <p>One recent example of a support initiative program administered by the CRA was <u>CERB</u>, in response to the millions of Canadians who were involuntarily out of work due to the Covid-19 Pandemic.</p>
    <h2>Financial Glossary</h2>
    <p><u>tax laws & policies</u> - regulations related to taxation and benefits</p>
    <p><u>tax credits</u> - amounts that reduce the tax you pay on your taxable income. The more tax credits that apply to you, the more you can reduce your income tax.</p>
    <p><u>social benefit programs</u> - programs to financial support social issues</p>
    <p><u><a href="https://www.canada.ca/en/services/benefits/ei/cerb-application.html">CERB</a></u> - Canada Emergency Response Benefit was announced on April 6 2020, to financially support employed and self-employed Canadians affected by the Covid-19 pandemic</p>