<h3>What are the exemptions to HST?</h3>
<p>There are certain exemptions to the HST regarding certain goods or services, which apply at 0%. Goods and services
    which are exempt from the typical 13% HST tax rate (in Ontario) are categorized as zero-rated supplies 
    (GST/HST applies at 0% rate) and exempt supplies (no GST/HST applied).</p>

<h5>Examples of Zero-Rated Supplies (HST at 0% rate)</h5>
<li>general groceries like milk, bread, vegetables </li>
<li>agricultural products</li>
<li>most farm livestock</li>
<li>prescription drugs </li>
<li>certain medical devices like hearing aids or artificial teeth</li>
<li>feminine hygiene products like tampons or sanitary napkins</li>

<h5>Examples of Exempt Supplies (no HST applied)</h5>
<li>housing sales (that were previously inhabited by someone) </li>
<li>long-term rentals of residences and residential condo fees </li>
<li>most health, medical and dental services performed by licensed physicians or dentists for medical purposes</li>
<li>child care services </li>
<li>most domestic ferry services </li>
<li>legal aid services </li>
<li>music lessons </li>
<li>most services offered by financial institutions such as loans or operation of deposit accounts </li>

<h5>Difference between Zero-Rated Supplies & Exempt Supplies</h5>
<p>While conceptually you are not charged for HST on either of these types of goods and services, for zero-rated 
    supplies which apply HST at a 0% rate, you may be eligible to claim input tax credits for the HST paid or payable 
    on property and services acquired to provide these zero-rated supplies. On the other hand for exempt supplies, you are 
    not entitled to claim input tax credits on property and services acquired to provide these supplies. With that in mind, 
    you cannot register your business for HST if you only sell exempt supplies. Claiming input tax credits (ITCs) allow your 
    business to recover the HST paid on purchases and any expenses related to your business activities.</p>