<h3>What is HST?</h3>

<p>HST (Harmonized Sales Tax) is a combination of the respective province’s GST (Federal Goods and Services Tax) and PST (regional Provincial Sales Tax).
    It is a consumer tax applied when an item is purchased at PoS (Point Of Sale). The seller/vendor will apply this tax percentage to the goods and services sold.
     This HST is then sent to the CRA for later allocation of tax revenue to the respective provincial government.For Ontario specifically the tax rate is set at 13%,
     as opposed to 15% for other provinces such as Nova Scotia or New Brunswick.</p>
     <img src="https://cdn.discordapp.com/attachments/448621766785368094/804477681948688394/SalesTaxRates2021.JPG" alt="CRA Sign" width="500">
