<h5>When completing and filing your tax return, there is 5 main steps to follow:</h5>

<h6>Step 1: Gather Your Documents</h6>
<p>
Make sure you have evidence for anything you are claiming on your taxes. 
If you were employed by an employer you should receive a T4 Statement of 
Remuneration Paid in order to prove how much money you made for the year 
through them. If you were investing, you should also receive a T5 Statement 
of Investment Income from the financial institution that manages your investments  
as evidence of how much investment income you have made for the year. You may also 
receive a T3: Statement of trust income allocations and designations, which most 
likely means you have earned investment income from a Mutual fund in a non-registered 
account, a personal trust or, from the estate of someone who passed away. Remember If 
you received Canada Emergency Response Benefit (CERB), Canada Emergency Student Benefit (CESB), 
Canada Recovery Benefit (CRB), Canada Recovery Sickness Benefit (CRSB), or Canada Recovery 
Caregiving Benefit (CRCB) payments, these are considered taxable income. You will need 
to file, and enter the total amount you received on your return.
</p>

<h6>Step 2: Provide and update your personal information</h6>
<p>
When filing your taxes, you will need to provide or update any personal information with the CRA. 
This may include information such as marital status, children in your care, banking information 
and your home address, the easiest way to do this is to use the CRA website through their 
<a href="https://www.canada.ca/en/revenue-agency/services/e-services/e-services-individuals/account-individuals.html">My Account</a>
</p>

<h6>Step 3: Report your income</h6>
<p>
Income is money you earn through employment, self-employment, and investments you have, or benefits you receive.
On your return, you must report income from all sources, both inside and outside Canada. This is true even if 
you were paid in cash, which includes money you earn as a side job or tips you have received.
</p>

<h6>Step 4: Claim your deductions, tax credits and expenses</h6>
<p>
Reduce the amount of tax you pay by claiming your deductions, expenses and tax credits. You’ll have to use the 
receipts and records you kept during the year to support your claims. You should keep any documents relating to 
claims as the CRA may ask for them in the future usually through an audit.
</p>

<h6>Step 5: Send your tax return</h6>
<p>
When filing taxes online, it makes it very easy for you to send you tax return to the CRA electronically using 
software if you selected a NETFILE certified software, it will show you how to send your return based on which 
specific software you picked
</p>
