<h6>What Is A TFSA?</h6>
<p>
A Tax-Free Savings Account or TFSA for short is a tax shelter. 
Some people have said that it has not been aptly named as it confuses 
people into thinking it is a place to only withdraw and deposit currency. 
The TFSA is actually a type of investment account which can hold in it, 
exchange traded funds, guaranteed investment certificates, equities, bonds 
and currency. It allows these investments to grow tax-free over time. 
The government introduced the TFSA in 2009. Since you pay tax on the income 
you deposit in the TFSA, you do not pay tax when you withdraw from it.
</p>

<h6>How Does It Work?</h6>
<p>You can open a TFSA as long as you are a Canadian citizen over 18 years 
of age and have a valid social insurance number. You just have to open an 
account with a financial institution, credit union, or insurance company 
that offers TFSAs. Once you open one you can start to deposit money and invest!
</p>

<h6>Contribution Limits</h6>
<p>The TFSA has a limit to how much you contribute. The way contribution limits 
work is that the government sets what they call the yearly contribution limit. 
For 2021 that limit is $6000. That amount is how much money they have added to 
your TFSAs total contribution room for the year given you are older than 18. 
To figure out how much your total contribution room is (the amount you can contribute right now), 
add up all the yearly contribution limits since you have been 18. You can find a list of previous years 
<a href="https://www.wealthsimple.com/en-ca/learn/tfsa-limit#past_tfsa_contribution_limits">here:</a> 
<br>
<br>
<img src="https://cdn.discordapp.com/attachments/448621766785368094/804481649646633040/unknown.png" alt="yearly limits" width="600">
<img src="https://cdn.discordapp.com/attachments/448621766785368094/804481844673773580/unknown.png" alt="yearly limits2" width="600">
<br>
<br>
Then, subtract how much money you have already contributed. For example if you turned 18 back in 2009, 
when the TFSA was created and you never contributed, you would have $75,500 in contribution room. 
You could also explain this using the term rollover, meaning anything room you don't use this year, 
will be added to next year’s room. Rollover starts when you are 18.
</p>

<h6>Advantages</h6>
<p>The TFSA has a lot of advantages, most of them boiling down to the fact that your 
investments will grow without being taxed and the flexibility of it. In the flexibility regard, 
you can withdraw from the TFSA at any time and not pay tax. The contribution limit is also very 
substantial at currently $6000 a year, which allows you to invest a lot of your money without 
having to pay investment taxes on any of it.</p>

<h6>Limitations</h6>
<p>
You need to be careful not to contribute more than the limit. 
Remember that the TFSA limit is per person and not per account. 
If you open 5 TFSAs with different banks you will still have the same contribution room as if you had 1, 
they share contribution room. If you contribute more than  the limit you will be charged a 
penalty of 1% of the excess amount in your TFSA per month. Do not day trade or over frequently trade 
in your TFSA, if you do so, the government may consider your trading activity to be a business and 
will make you pay income tax on your trading activity. The CRA can audit taxpayers who actively 
trade using a TFSA.  On a final note, if you are collecting US stock dividends,  there is a 30% 
withholding tax on any US stock dividend, only half of which can be claimed as a deduction on your 
tax returns. So effectively, you’ll be paying a 15% tax on dividends.
</p>

